.card {
    background: #fff;
    border: none;
    float: left;
    font-size: 44px;
    font-weight: bold;
    line-height: 34px;
    height: 175px;
    margin-right: 0px;
    margin-top: 23px;
    padding: 0;
    text-align: center;
    width: 134px;
}

.card-front {
    background-image: url(https://drive.google.com/uc?export=view&id=1yTFnOjNL55k45ixbH4_YmlLkFFjtEs1k);
    background-size: 120px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.card-front:hover {
    opacity: 0.7;
    transition: 1s;
}

.card-back {
    background-image: none;
    cursor: unset;
}

.card:focus {
    outline: none;
}

.kbd-navigation .card:focus {
    background: #ddd;
}

.back {
    height: 173px;
    width: 120px;
    border-radius: 4px;
    display: table-cell;
    border: 1px solid #000;
    vertical-align: middle;
}

.front {
    display: none;
}

.atari {
    background: rgb(255, 186, 245);
    height: 176px;
    width: 120px;
    border-radius: 4px;
    vertical-align: middle;
    display: table-cell;
    border: 1px solid #000;
}

.hazure {
    background: rgb(255, 255, 255);
}