@import '../mixin';

$cardWidthL: 120px;
$cardWidthM: 90px;
$cardWidthS: 70px;

$cardHeightL: 175px;
$cardHeightM: 131px;
$cardHeightS: 102px;


.card {
    background: #fff;
    border: none;
    float: left;
    font-size: 44px;
    font-weight: bold;
    line-height: 34px;
    margin-right: 10px;
    margin-top: 23px;
    padding: 0;
    text-align: center;
    width: $cardWidthL;
    height: $cardHeightL;

    &:focus {
        outline: none;
    }

    &-front {
        background-size: $cardWidthL;
        background-repeat: no-repeat;
        cursor: pointer;
        position: relative;

        &-blue {
            background-image: url('../../assets/card_blue.png');
        }

        &-red {
            background-image: url('../../assets/card_red.png');
        }

        &-black {
            background-image: url('../../assets/card_dark.png');
        }

        &::before {
            content: '';
            background-color: rgba(0, 0, 0, .14);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }

    &-front:hover {
        opacity: 0.7;
        transition: 1s;
    }

    &-back {
        background-image: none;
        cursor: unset;
    }
}

.back {
    // height: 173px;
    width: $cardWidthL;
    height: $cardHeightL;
    border-radius: 4px;
    display: table-cell;
    border: 1px solid #000;
    vertical-align: middle;
}

.front {
    display: none;
}

.match {
    background: rgb(255, 186, 245);
    // height: 176px;
    width: $cardWidthL;
    height: $cardHeightL;
    border-radius: 4px;
    vertical-align: middle;
    display: table-cell;
    border: 1px solid #000;
}

.wrong {
    background: rgb(255, 255, 255);
}

@include tablet {
    .card {
        font-size: 35px;
        width: $cardWidthM;
        height: $cardHeightM;

        &-front {
            background-size: $cardWidthM;
        }
    }

    .back {
        width: $cardWidthM;
        height: $cardHeightM;
    }

    .match {
        width: $cardWidthM;
        height: $cardHeightM;
    }
}

@include mobile {
    .card {
        font-size: 30px;
        width: $cardWidthS;
        height: $cardHeightS;

        &-front {
            background-size: $cardWidthS;
        }
    }

    .back {
        width: $cardWidthS;
        height: $cardHeightS;
    }

    .match {
        width: $cardWidthS;
        height: $cardHeightS;
    }
}