.card {
    background: #fff;
    border: none;
    float: left;
    font-size: 44px;
    font-weight: bold;
    line-height: 34px;
    height: 175px;
    margin-right: 10px;
    margin-top: 23px;
    padding: 0;
    text-align: center;
    width: 120px;
}

.card-front {
    background-size: 120px;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;

    &-blue {
        background-image: url('../../assets/card_blue.png');
    }

    &-red {
        background-image: url('../../assets/card_red.png');
    }

    &-black {
        background-image: url('../../assets/card_dark.png');
    }

    &::before {
        content: '';
        background-color: rgba(0, 0, 0, .14);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

.card-front:hover {
    opacity: 0.7;
    transition: 1s;
}

.card-back {
    background-image: none;
    cursor: unset;
}

.card:focus {
    outline: none;
}

.kbd-navigation .card:focus {
    background: #ddd;
}

.back {
    height: 173px;
    width: 120px;
    border-radius: 4px;
    display: table-cell;
    border: 1px solid #000;
    vertical-align: middle;
}

.front {
    display: none;
}

.match {
    background: rgb(255, 186, 245);
    height: 176px;
    width: 120px;
    border-radius: 4px;
    vertical-align: middle;
    display: table-cell;
    border: 1px solid #000;
}

.wrong {
    background: rgb(255, 255, 255);
}