// Common color palette
$colorBlack: #222;
$colorWhite: #fff;
$primaryColor: #bd34fe;
$secondaryColor: #47caff;
$resultFailColor: #060606;
$defaultButtonColor: #78838c;
$defaultButtonColorDark: #6c757d;
$primaryButtonColor: $primaryColor;
$primaryButtonColorDark: #a92de2;
$matchColor: #dfc136;
$buttonBorderRadios: 5px;