// Common color palette
$colorBlack: #222;
$colorBlackHover: rgba(34, 34, 34, 0.7);
$colorWhite: #fff;
$colorBlue: #5CB8E4;
$colorBlueDark: #4c9cc3;
$colorRed: #CD104D;
$colorRedDark: #bc1047;
$primaryColor: #bd34fe;
$secondaryColor: #47caff;
$resultFailColor: #060606;
$defaultButtonColor: #78838c;
$defaultButtonColorDark: #6c757d;
$primaryButtonColor: $primaryColor;
$primaryButtonColorDark: #a92de2;
$matchColor: #dfc136;
$buttonBorderRadios: 5px;