// Common color palette
$colorBlack: #222;
$colorWhite: #fff;
$mainBackgroundColor: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
$resultFailColor: #060606;
$defaultButtonColor: #78838c;
$defaultButtonColorDark: #6c757d;
$primaryButtonColor: #bd34fe;
$primaryButtonColorDark: #a92de2;
$buttonBorderRadios: 5px;