@import '../Common.scss';
@import '../mixin.scss';

.result {
    &-container {
        @include modalBase;
    }

    &-modal {
        @include modalContentBase(60%, 25%, 20px);
        max-width: 600px;
    }

    &-content {
        display: flex;
        flex-direction: column;

        &-hide {
            display: flex;
            flex-direction: column;
            animation-name: fadeOut;
            animation-duration: 0.5s;
            animation-timing-function: ease;
            animation-direction: normal;
            animation-fill-mode: forwards;
        }

        @keyframes fadeOut {
            from {
                opacity: 1;
                transform: translateX(0px);
            }

            to {
                opacity: 0;
                transform: translateX(20px);
                height: 0;
                overflow: hidden;
            }
        }
    }

    &-close {
        color: $colorBlack;
        opacity: 0.8;
        font-size: 18px;
        border: none;
        margin-left: auto;
        width: 50px;
        background-color: transparent;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    text-align: center;
    font-weight: bold;
    color: $resultFailColor;

    &-text-container {
        text-align: center;
    }

    &-text {
        font-size: 2.5em;
        line-height: 1.1em;
        display: inline-block;
        margin: 0 5px 10px;
    }

    &-text-congrats {
        display: inline-block;
        background: linear-gradient(135deg, $primaryColor 0%, $secondaryColor 100%);
        background: -webkit-linear-gradient(-45deg, $primaryColor 0%, $secondaryColor 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-score {
        font-size: 1.5em;
    }

    &-post-button {
        color: $colorWhite;
        font-weight: bold;
        margin: auto;
        width: 150px;
        height: 40px;
        @include buttonBase($defaultButtonColor, $defaultButtonColorDark);
    }


    &-post {
        height: 0;
        overflow: hidden;
        opacity: 0;

        &-show {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            opacity: 0;
            height: 100%;
            animation-name: fadeIn;
            animation-duration: 1s;
            animation-delay: 0.2s;
            animation-timing-function: ease;
            animation-direction: normal;
            animation-fill-mode: forwards;

            @keyframes fadeIn {
                from {
                    opacity: 0;
                    transform: translateX(-20px);
                }

                to {
                    opacity: 1;
                    transform: translateX(0px);
                    // height: auto;
                    overflow: auto;
                }
            }

            .error-message {
                color: $colorRed;
                font-size: 0.8rem;
                ;
            }

            .mt-16 {
                margin-top: 16px;
            }
        }

        &-username {
            display: block;
            margin: 16px auto 0;
            border-radius: 5px;
            border: 2px solid $secondaryColor;
            padding: 8px;
            outline: none
        }

        &-error {
            border: 2px solid $colorRed;

            &:focus {
                border: 2px solid $colorRed;
            }
        }
    }
}

@include tablet {
    .result {
        &-text {
            text-align: center;
            font-size: 1.8em;
            font-weight: bold;
            color: $resultFailColor;
        }

        &-score {
            font-size: 1.2em;
        }
    }
}

@include mobile {
    .result {

        &-modal {
            @include modalContentBase(80%, 30%, 20px);
            max-width: 600px;
        }

        &-text {
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
            color: $resultFailColor;
        }

        &-score {
            font-size: 1.0em;
        }
    }
}