@import '../mixin';

.game-title-container {
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.game-title {
    font-size: 3em;
}

@include desktopS {
    .game-title {
        font-size: 2em;
    }
}

@include mobile {
    .game-title {
        font-size: 1.5em;
    }
}