@import '../Common.scss';
@import '../mixin';

.main {
    position: relative;
    width: 680px;
    margin: 0 auto;
    padding: 20px 20px 0;
    border-radius: 0.3em;
    border: solid 5px #363636;
    background-color: #222222f5;
}

.table {
    padding-top: 38px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    // Could be needed in the future
    // &::after {
    //     clear: both;
    //     content: "";
    //     display: table;
    // }
}

.start-button {
    @include buttonBase($primaryButtonColor, $primaryButtonColorDark);
    position: absolute;
    z-index: 98; // should be smaller than result dialog
    font-size: 1.2em;
    font-weight: bold;
    width: 180px;
    height: 50px;
    left: calc(50% - 90px); // 50% - (width:180px / 2)
    top: calc(50% - 25px); // 50% - (height:50px / 2)
    color: #fff;
    text-shadow: 1px 1px 2px #000;

    &-started {
        display: none;
    }
}

.count-number {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(236, 235, 235, 0.8);
    z-index: 10;
    display: block;

    &-start {
        display: none;
    }

    &-end {
        display: block;
    }
}