@import './components/Common.scss';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: $colorWhite;
  background: -moz-linear-gradient(top left, #222, $primaryColor 30%, #47caff 60%, #222);
  background: -webkit-linear-gradient(top left, #222, $primaryColor 30%, #47caff 60%, #222);
  background: linear-gradient(to bottom right, #222, $primaryColor 30%, #47caff 60%, #222);
}

#root::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.31);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  // place-items: center;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

.game-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.game-table-contaner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}