@import '../Common.scss';
@import '../mixin.scss';

.score-list {
    height: 80%;
    padding: 0;
    margin-top: 0px;

    &-item {
        &:last-child {
            border-bottom: none;
        }

        padding: 10px;
        border-bottom: 1px solid #ccc;
        list-style: none;
        display: flex;
        font-weight: bold;
    }

    &-item-rank {
        margin-right: 30px;
    }

    &-item-score {
        margin-right: 10px;
        flex-grow: 1;
    }

    @include mobile {
        &-item {
            font-size: 12px;
            padding: 5px;
        }

        &-item-rank {
            margin-right: 10px;
        }
    }
}